<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% load static %}
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'crud_tienda/img/logo.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuHamburg" aria-controls="menuHamburg" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuHamburg">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"> # ORIGINAL!!!
                <a class="nav-item nav-link {% if 'vestimenta' in request.path %}active{% endif %}" href="{% url 'vestimenta' %}">VESTIMENTA</a>
            </li>
            <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
            <a class="nav-item nav-link {% if 'vestimenta' in request.path %}active{% endif %}" href="{% url 'calzado' %}">CALZADO</a>
            <a class="nav-item nav-link {% if 'vestimenta' in request.path %}active{% endif %}" href="{% url 'accesorios' %}">ACCESORIOS</a>
            <a class="nav-item nav-link {% if 'vestimenta' in request.path %}active{% endif %}" href="{% url 'suplementos' %}">SUPLEMENTOS</a>
            <a class="nav-item nav-link {% if 'vestimenta' in request.path %}active{% endif %}" href="{% url 'contacto' %}">CONTACTO</a>
        </ul>
    </div>
</nav>