{% extends 'base.html' %}
{% block title %}Calzado{% endblock %}
{% block content %}

{% for a in accesorios %}
    
<div class="card bg-dark text-white">
    <a href="link a producto">
        {% load static %}
        <img class="card-img" src="{% static 'ruta/{{a.nombre}}' %}" alt="accesorio-img">
        <div class="card-img-overlay">
            <h5 class="card-title">{{a.nombre}}</h5>
            <p class="card-text">{{a.precio}}</p>
            <p class="card-text">{{a.info}}(sexo,colores,estilo,etc)</p>
        </div>
    </a>
</div>

{% endfor %}
{% endblock  %}