{% extends 'crud_tienda/index.html' %}
{% block title %}{{categoria}}{% endblock %}

{% block filters %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-expanded="false">
      Filtros
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item" href="#">
            Categoria  &raquo;
          </a>
          <ul class="dropdown-menu dropdown-submenu">
            <li>
              <a class="dropdown-item" href="{% url 'Calzado' %}Mujer">Mujer</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'Calzado' %}Hombre">Hombre</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            Talle  &raquo;
          </a>
          <ul class="dropdown-menu dropdown-submenu">
            {% for t in talle %}
            <li>
              <a class="dropdown-item" href="{% url 'Calzado' %}?talle={{t}}">{{t}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
    </ul>
  </div>

{% endblock %}