{% extends 'crud_tienda/index.html' %}
{% block title %}{{categoria}}{% endblock %}

{% block filters %}
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtros
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            categoria
            </button>
            <div class="dropdown-menu">
                <option class="dropdown-item" value="mujer">mujer</option>
                <option class="dropdown-item" value="hombre">hombre</option>
                <option class="dropdown-item" value="nino">nino</option>
            </div>
        </div>
        <button class="dropdown-item" type="button">talle</button>
        <button class="dropdown-item" type="button">color</button>
    </div>
</div>
{% endblock %}
