{% extends 'crud_tienda/index.html' %}
{% block title %}{{categoria}}{% endblock %}

{% block filters %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-expanded="false">
      Filtros
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item" href="#">
            Categoria &raquo;
          </a>
          <ul class="dropdown-menu dropdown-submenu">
            <li>
              <a class="dropdown-item" href="{% url 'calzado' %}?sexo=M">Mujer</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'calzado' %}?sexo=H">Hombre</a>
            </li>
          </ul>
        </li>
      <li><a class="dropdown-item" href="#">Color</a></li>
      <li>
        <a class="dropdown-item" href="#">Talle</a>
      </li>
    </ul>
  </div>

{% endblock %}