{% extends 'base.html' %}
{% block title %}Vestimenta{% endblock %}
{% block content %}

{% for r in ropa %}
    
<div class="card bg-dark text-white">
    <a href="link a producto">
        {% load static %}
        <img class="card-img" src="{% static 'ruta/{{r.nombre}}' %}" alt="ropa-img">
        <div class="card-img-overlay">
            <h5 class="card-title">{{r.nombre}}</h5>
            <p class="card-text">{{r.precio}}</p>
            <p class="card-text">{{r.info}}(sexo,colores,estilo,etc)</p>
        </div>
    </a>
</div>

{% endfor %}
{% endblock  %}